<div class="wrapper">
    <div class="heading">
        <h1><span>B</span>rett <span>F</span>rable</h1>
        <h2>Front End Developer</h2>
        <nav class="social">
            <ul>
                <li><a href="https://www.linkedin.com/in/brett-frable-3022bb78" class="linkedin" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                <li><a href="http://www.github.com/bfrable" class="github" target="_blank"><i class="fa fa-github-square"></i></a></li>
                <li><a href="http://www.twitter.com/brettfrable" class="twitter" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
                <li><a href="http://www.instagram.com/brettfrable" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </nav>
    </div>
    <p>I bring a unique perspective to front end development and user interface design. Each position I have held has transmuted my skillset and goals towards forward-thinking technology. I am obsessed with expanding my craft, solving challenging problems and staying on the bleeding edge.</p>
    <p>I like to work alongside designers to see their vision come to life and pull off pixel perfection. I'm as comfortable mentoring others, <br> as I am learning from them.</p>

    <span id="message"></span>

    <div class="cta contact-me">
        <p><strong>I am currently accepting new freelance opportunities.</strong></p>
        <a href="/#/contact" class="button">Contact Me</a>
    </div>
</div>